body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem; /* Added horizontal padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_link {
    text-decoration: none;
    color: #fff;
}

.logo {
    max-width: 50%; /* Make the logo responsive */
    height: auto;
}

nav {
    display: flex;
}

    nav a {
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
    }

        nav a:last-child {
            margin-right: 0; /* No margin on the right for the last link */
        }

section {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 2rem; /* Added horizontal padding */
    margin-top: 2rem;
}

.social {
    margin-top: 1rem;
}

    .social a {
        margin-right: 10px;
        display: inline-block; /* Ensures consistent spacing even if there's only one icon */
    }

        .social a:hover {
            opacity: 0.8; /* Adjust the opacity on hover */
        }

#hero-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.msg {
    text-align: center;
    padding: 2rem;
}

.mountains {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    ul li {
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 8px;
        padding-left: 20px;
        position: relative;
    }

        ul li:before {
            content: '\2022';
            color: #0077cc;
            font-size: 16px;
            margin-right: 10px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        ul li:hover {
            background-color: #f0f0f0;
            transition: background-color 0.3s ease;
        }

nav a:focus {
    outline: 2px solid #fff; /* Add focus outline */
}
